
/* Content */
.container {
  background-color: #151515;
  padding: 15px 15px 1px 15px;
  border-radius: 6px;
}

img.app {width: 70px; max-height: 70px; float: left; margin: 10px 20px 0 0;}


hr {border-top: 1px solid #634ceb;}

